* {
    margin : 0;
    padding: 0;
}

 *{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color:  rgb(3, 9, 63);
    
}

#prog-ind{
    color:  rgb(3, 9, 63);
    
}
#question-container{
    display: flex;
    flex-direction: column;
    border-radius: .4em;
}

#quest-txt{
    padding: 1em;
    border-radius: .3em;
    background-color: rgb(3, 9, 63);
    color: #e9f4f4;
    font-size: 1.3em;
    font-weight: 500;
}
#options{
    padding: .5em 0;
    display: flex;
    flex-direction: column;
    margin: 1em 0;
    gap: 1em;
    width: auto;
}
#options button{
    display: flex;
    border-radius: .5em;
    justify-content: flex-start;
    align-items: center;
    width: 75%;
    gap: 1em;
    padding: 1em .8em;
    border: 2px solid  rgb(3, 9, 63);
    background-color: transparent;
    font-weight: 500;
    font-size: 1em;
    color: #212122;
}
#options button:hover{
    background-color: #c3c3c3;
    color: #313131;
}
#options button:focus{
    outline: none;
}
.no-select{
    border: none !important;
    border: 2px solid rgb(3, 9, 63) !important ;
}
.selected{
    border: 2px solid #5692f3 !important;
}
.opt-ind{
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 3px solid  rgb(3, 9, 63);
    border-radius: 50%;
}
.selected .opt-ind{
    background-color:  rgb(3, 9, 63);
}
.no-select .opt-ind{
    background-color: #fff;
}

#ans-info{
    padding: .4em .8em;
    background-color: #03083996;
    border-radius: .3em;
    font-size: 1.1em;
    font-weight: 600;
    text-align: center;
    color: #eee;
}
#btn-cont{
    text-align: right;
    padding: 1em 0;
    border-radius: 7px;
}
#btn-sub{
    font-size: 1em;
    font-weight: 700;
    background-color:  rgb(3, 9, 63);
    border: none;
    border-radius: .2em;
    padding: 9px 40px;
    color: white;
}

#result-container{
    width: 100%;
    height: 100vh;
    background-color: #ffffffcc;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
#result-focus{
    color: #eee;
    background-color: #1a254c;
    width: 50%;
    padding: 1em;
    margin: 15% auto;
    border-radius: .5em;
    text-align: center;
}
#result-focus p{
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 4em;
}
#retake{
    font-size: 1em;
    font-weight: 700;
    background-color: #eee;
    border: none;
    border-radius: .2em;
    padding: .2em .5em;
    color: #545454;
} 